@font-face {
    font-family: lato-regular;
    src: url('fonts/Lato/Lato-Regular.ttf');
}

@font-face {
    font-family: lato-bold;
    src: url('fonts/Lato/Lato-Bold.ttf');
}

@font-face {
    font-family: lato-black;
    src: url('fonts/Lato/Lato-Black.ttf');
}

@font-face {
    font-family: lato-light;
    src: url('fonts/Lato/Lato-Light.ttf');
}

@font-face {
    font-family: lato-hairline;
    src: url('fonts/Lato/Lato-Hairline.ttf');
}

/* COLORS

BLUE 
rgb(0, 196, 216)
rgb(0, 181, 235)
rgb(0, 166, 255)

WHITE
rgb(238, 238, 238)
rgb(240, 247, 242)
rgb(255, 255, 240)

ORANGE
rgb(244, 172, 69)
rgb(249, 149, 56)
rgb(255, 127, 42)
*/

html{
    font-family: lato-regular;
    background-color: rgb(239,239,239);
    z-index: 0;
}



.parallax img{
    display: block;
    z-index: 0;
}

.parallax-container {
    height: 100vh;
}

.parallax #mountain{
    height: 140vh;
    object-fit: cover;
}

.parallax #logo-header{
    height: 120vh;
    object-fit: contain;
}

.parallax #sky{
    height: 180vh;
    object-fit: cover;
}

.fa-angle-down{
    position: relative;
    display: block;
    height: 75px;
    line-height: 75px;
    width: 100%;
    margin-top: -75px;
    text-align: center;
    color: white;
    z-index: 9999999999999999999999;
    font-size: 5em;
    background-image: transparent;
    -webkit-transition: background-image 2s;
    transition: background-image 2s;
}

.fa-angle-down:hover{
    background-image: rgba(0,0,0,0.5);
    background-image: -webkit-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.7)); /* For Safari 5.1 to 6.0 */
    background-image: -o-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.7)); /* For Opera 11.1 to 12.0 */
    background-image: -moz-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.7)); /* For Firefox 3.6 to 15 */
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.7)); /* Standard syntax */
}

header .container{
    background: none;
    box-shadow: none;
}

.main-nav ul{
    display: flex;
    width: 70%;
    
}

.main-nav ul li{
    text-align: center;
    flex-grow: 1;
}

.main-nav ul li a{
    padding: 0 !important;
    font-family: lato-light;
    color: rgb(150,150,150) !important;
}

.main-nav{
    box-shadow: none;
    width: 100%;
    display: flex;
    z-index: 1000;
    background-color: rgb(239,239,239);
    height: 50px;
    
}

.tabs{
    background-color: rgb(239,239,239);
}

.sticky-nav{
    position: fixed;
    top: 0;
    width: 100%;
}

.tabs .indicator {
    background-color: rgb(0, 196, 216);
}

h2{
    font-family: lato-hairline;
    text-align: center;
}

h3{
    font-family: lato-bold;
    font-size: 1.5em;
}

.video-wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.video-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.card{
    padding: 10px !important;
    box-sizing: border-box;
}

.carousel-artisanat{
    margin: 0 0 10px 0;
}

.carousel-artisanat img{
    width: 100%;
    height: 50vh;
    object-fit: cover;
}

.event-carousel{
    margin: 0 -5px 10px -5px;
    
}

.event-carousel .slick-track{
    padding: 5px;
    box-sizing: border-box;
}

.carousel-artisanat-preview{
    margin: 0 -5px;
}

.carousel-artisanat-preview div, .event-carousel div{
    margin: 0 5px;
}

.slick-arrow:before{
    color: rgb(100,100,100);
}

#logo-fb{
    background-color: white;
}

.pre-footer{
    height: 100px;
    width: 100%;
    background: url('../img/pre-footer.png');
    background-size: contain;
    background-repeat: repeat-x;
    background-position: bottom;
}


footer{
    color: white;
    background-color: rgb(77,77,77);
}

footer .row{
    margin-bottom: 0;
}

footer a{
    color: rgb(244, 172, 69);
    text-decoration: underline;
}

footer h4{
    font-size: 1.3em;
}

footer span{
    display: block;
    margin: 0 0 5px 0;
}

.inline-span{
    display: inline-block;
}

#map-footer{
    width: 100%;
    height: 200px;
}

.block-a{
    display: block;
    margin: 0 0 5px 0;
}

#croco-footer{
    margin: 50px 0 0 0;
}

footer hr{
    height: 1px;
    background: rgba(255,255,255,0.2);
    box-shadow: none;
    border: none;
    margin: 0 0 20px 0;
}





#concept, #artisanat, #skis, #iziski, #soutient, .pre-footer{
    margin-top: 20vh;
}

h2{
   margin-bottom: 12vh; 
}

#concept .video-wrapper{
    margin-bottom: 5vh;
}

#concept .comments{
    margin-top: 5vh;
}
#concept .stars{
    color: rgb(244, 172, 69);
}

#artisanat .texts{
    margin-bottom: 5vh;
}

#skis img, #skis .texts{
    margin-bottom: 10vh;
}

#skis .links{
    display: block;
    width: 100%;
    font-size: 1.3em;
    text-align: right;
}

#iziski strong{
    font-weight: bold;
}

#iziski .orange-links{
    color: rgb(244, 172, 69);
}

#iziski img{
    margin-bottom: 5px;
    padding: 0 !important;
}

#iziski .people img:nth-child(n+1){
    padding-right:5px !important;
}

#events-title{
    margin: 5vh 0 1vh 0;
}

.event-carousel .card h4{
    color: rgb(0, 196, 216);
    font-size: 1.5em;
}

.event-carousel .card h5{
    font-size: 1.3em;
}

.green-ks{
    color:rgb(20,224,110);
}

.soutient-link{
    color: black;
    font-size: 1.3em;
    font-family: lato-bold;
    margin-top: 5vh;
    display: block;
}

.percent{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 3em;
    font-family: lato-black;
    margin-top: 5vh;
}

#mobile-nav{
    display: none;
}

@media (max-width:767px){
    footer{
        text-align: center;
    }
    
    #mobile-nav{
        display: block;
        z-index: 1000;
/*        width: 50px;*/
/*        right: 0;*/
        background-color: rgb(239,239,239);
        color: black;
    }
    
    #mobile-nav .button-collapse{
        color: rgb(77,77,77);
    }
    
    .main-nav{
        display: none;
    }
}