@font-face {
    font-family: lato-regular;
    src: url('fonts/Lato/Lato-Regular.ttf');
}

@font-face {
    font-family: lato-bold;
    src: url('fonts/Lato/Lato-Bold.ttf');
}

@font-face {
    font-family: lato-black;
    src: url('fonts/Lato/Lato-Black.ttf');
}

@font-face {
    font-family: lato-light;
    src: url('fonts/Lato/Lato-Light.ttf');
}

@font-face {
    font-family: lato-hairline;
    src: url('fonts/Lato/Lato-Hairline.ttf');
}

/* COLORS

BLUE 
rgb(0, 196, 216)
rgb(0, 181, 235)
rgb(0, 166, 255)

WHITE
rgb(238, 238, 238)
rgb(240, 247, 242)
rgb(255, 255, 240)

ORANGE
rgb(244, 172, 69)
rgb(249, 149, 56)
rgb(255, 127, 42)
*/

html{
    font-family: lato-regular;
    background-color: rgb(239,239,239);
    z-index: 0;
}

.landing-page{
    background: url('../img/header-bg.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

header .container{
    background: none;
    box-shadow: none;
}

.main-nav ul{
    display: flex;
    width: 70%;
    
}

.main-nav ul li{
    text-align: center;
    flex-grow: 1;
}

.main-nav ul li a{
    padding: 0 !important;
    font-family: lato-light;
    color: rgb(150,150,150) !important;
}

.main-nav{
    box-shadow: none;
    width: 100%;
    display: flex;
    z-index: 1000;
    background-color: rgb(239,239,239);
    height: 50px;
    
}

.tabs{
    background-color: rgb(239,239,239);
}

.sticky-nav{
    position: fixed;
    top: 0;
    width: 100%;
}

.tabs .indicator {
    background-color: rgb(0, 196, 216);
}

h2{
    font-family: lato-hairline;
    text-align: center;
}

h3{
    font-family: lato-bold;
    font-size: 1.5em;
}

.video-wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.video-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.card{
    padding: 10px !important;
    box-sizing: border-box;
}

.carousel-artisanat{
    margin: 0 0 10px 0;
}

.carousel-artisanat img{
    width: 100%;
}

.event-carousel{
    margin: 0 -5px 10px -5px;
    
}

.event-carousel .slick-track{
    padding: 5px;
    box-sizing: border-box;
}

.carousel-artisanat-preview{
    margin: 0 -5px;
}

.carousel-artisanat-preview div, .event-carousel div{
    margin: 0 5px;
}

.slick-arrow:before{
    color: rgb(100,100,100);
}

#logo-fb{
    background-color: white;
}

.pre-footer{
    height: 100px;
    width: 100%;
    background: url('../img/pre-footer.png');
    background-size: contain;
    background-repeat: repeat-x;
}

footer{
    color: white;
    background-color: rgb(77,77,77);
}

footer .row{
    margin-bottom: 0;
}

